/*Hero Section*/
#aboutUs_hero {
	position: relative; /*To allow absolutely positioned elements inside*/
	background-image: url('AboutUsPage.png');
	background-size: cover;
	color: white;
	padding: 50px;
	text-align: center;
	height: 650px;
}

/*Create a rectangle shade above the background*/
#aboutUs_hero::before {
	content: ""; /*Create a rectangle*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.3; /*transparency*/
}

#aboutUs_hero h1 {
	position: relative;
	font-size: 128px;
	font-family: 'Familjen Grotesk';
}

.text p{
	position: relative;
	font-size: 30px;
	text-align: center;
	color: white;
}

/*Food Mission Section*/
.food_mission {
	position: relative;
	background-color: white;
	color: black;
	padding: 50px;
	height: auto;
	align-items: center;
	justify-content: space-between;
}

.food_mission h2 {
	font-size: 70px;
	font-weight: 1000;
	text-align: center;
	font-family: 'Familjen Grotesk';
	letter-spacing: 2px;
	line-height: 40px;
	padding-bottom: 20px;
}

.food_mission p {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

.About_us_container {
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	gap: 20px;
	box-sizing: border-box;
}

.sub-container {
	max-width: 400px;
	margin: 30px 10px;
	padding: 20px 15px;
	gap: 20px;
	box-sizing: border-box;
	border-radius: 15px;
}

.sub-container img {
	width: 100%;
	height: 230px;
	object-fit: cover;
}

.sub-container p {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: bold;
}

/*Our Story Section*/
.our_story {
    position: relative; /* To allow absolutely positioned elements inside */
    color: black;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end; /* Aligns the container to the right */    
}

/* Use a pseudo-element for the background image and apply opacity only to it */
.our_story::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('our_Story.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Opacity applied only to background */
    z-index: -1; /* Layer it behind the content */
}

/* Text container inside the .our_story section */
.our_story_container {
    position: absolute;
    background-color: #F2EDDD;
    color: black;
    padding: 20px;
    opacity: 0.8;
	width: 670px;
    height: 560px;
}

.our_story_container h2 {
	font-size: 70px;
	font-weight: 1000;
	line-height: 1.5;
	text-align: center;
	font-family: 'Familjen Grotesk';
	letter-spacing: 2px;
	line-height: 40px;
	padding-bottom: 40px;
}

.our_story_container p {
	font-size: 20px;
	font-weight: 70;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
	padding-left: 70px;
	padding-right: 70px;
	text-align: justify;
}

/*Line Section*/
.line {
	width: 100%;
	border: 15px solid #FAC478;
}

/*Our Impact Section*/
.our_impact {
    position: relative; /* To allow absolutely positioned elements inside */
    color: black;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start; /* Aligns the container to the right */    
}

.our_impact::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('our_impact.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Opacity applied only to background */
    z-index: -1; /* Layer it behind the content */
}

.our_impact_container {
    position: absolute;
    background-color: #D7D6D2;
    color: black;
    padding: 20px;
    opacity: 0.8;
	width: 670px;
    height: 560px;
}

.our_impact_container h2 {
	font-size: 70px;
	font-weight: 1000;
	line-height: 1.5;
	text-align: center;
	font-family: 'Familjen Grotesk';
	letter-spacing: 2px;
	line-height: 40px;
	padding-bottom: 40px;
}

.our_impact_container p {
	font-size: 20px;
	font-weight: 70;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
	padding-left: 70px;
	padding-right: 70px;
	text-align: justify;
}

/*Join Us Section*/
.join_us {
	position: relative;
	background-color: #F4F1ED;
	padding-top: 20px;
	color: black;
	padding: 50px;
	text-align: center;
	height: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.join_us h2 {
	position: relative;
	text-align: center;
	font-size: 70px;
	font-family: "Familjen Grotesk";
	margin: 0;
}

.about_us_subcontainer {
	position: relative;
	display: inline-block;
	max-width: 300px;
	height: 350px;
	background-color: #FAC478;
	margin: 60px 30px;
	padding: 20px 15px;
	border-radius: 30px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
	flex-direction: column;
}

.container a {
	text-decoration: none;
	color: inherit;
}

.about_us_subcontainer img {
	align-items: center;
	padding: 10px;
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 30px;
}

.about_us_subcontainer h3 {
	font-size: 20px;
	padding: 10px;
}

.about_us_subcontainer:hover {
	transform: scale(1.15) translateZ(0);
	background-size: 400px;
	color: rgb(95, 95, 194);
}

/* FAQ Section */
.FAQ {
	position: relative;
	background-color: white;
	padding-top: 20px;
	color: black;
	padding: 50px;
	text-align: center;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.FAQ h2{
	position: relative;
	text-align: center;
	font-size: 70px;
	font-family: "Familjen Grotesk";
	margin: 0;
}

.FAQ_box {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 50px;
	align-items: center;
}

.faq_question1, .faq_question2 {
	background-color: #FAC478;
	color: black;
	border: none;
	width: 80%;
	padding: 20px;
	font-size: 18px;
	text-align: left;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s ease;
}

.faq_question1:hover {
	background-color: #ef9020;
}

.faq_answer {
	max-height: 0;
	width: 80%;
	overflow: hidden;
	transition: max-height 0.3s ease;
	background-color: #f1f1f1;
	padding: 0 20px;
	border-radius: 10px;
	text-align: left;
	border: none;
	box-sizing: border-box; /* Makes padding and border part of the width */
}

.faq_answer p {
	font-size: 16px;
	font-weight: 70;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
}

.arrow {
	transition: transform 0.3s ease;
}

.faq_question2 {
	background-color: #FFE6E6;
}

.faq_question2:hover {
	background-color: #ffc1e8;
}

/* Rotate the arrow when active */
.faq_question1.active .arrow, .faq_question2.active .arrow {
    transform: rotate(180deg);
}

li {
    font-size: 16px;
	font-weight: 70;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
}